@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: second;
  src: url("./fonts/avenir-font/AvenirLTStd-Light.otf");
}

@font-face {
  font-family: forth;
  src: url("./fonts/Aviano\ Sans\ Light.ttf");
}

@font-face {
  font-family: main;
  src: url("./fonts/optima/OPTIMA.TTF");
}

@font-face {
  font-family: third;
  src: url("./fonts/avenir-font/AvenirLTStd-Heavy.otf");
}

.main_font {
  font-family: main;
}

.second_font {
  font-family: second;
}

.third_font {
  font-family: third;
}

.f_font {
  font-weight: 100;
  font-family: forth;
}
:root {
  --background: #000000;
  /* --foreground: #171717; */
  --foreground: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: second, sans-serif;
}
